[class*='col-'] {
    float: left;
    padding: 12px;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* every column should be a child of grid */
.grid.after,
.fix-float {
    content: "";
    display: table;
    clear: both;
}
/* column sizing */
.col-1-12 {
    width: 8.33%;
}
.col-2-12 {
    width: 16.66%;
}
.col-3-12 {
    width: 25%;
}
.col-4-12 {
    width: 33.33%;
}
.col-5-12 {
    width: 41.66%;
}
.col-6-12 {
    width: 50%;
}
.col-7-12 {
    width: 58.33%;
}
.col-8-12 {
    width: 66.66%;
}
.col-9-12 {
    width: 75%;
}
.col-10-12 {
    width: 83.33%;
}
.col-11-12 {
    width: 91.66%;
}
.col-12-12 {
    width: 100%;
}